*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    margin: 10px auto;
    height: 1000px;
}

header{
    height: 15%;
}

.banner{
    height: 100%;
}

.logo{
    object-fit: cover;
    height: 50%;
    border-right: 1px solid grey;
    padding-right: 20px;
}



nav .navigation-list li{
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav .navigation-list li a{
    text-decoration: none;
    color: grey;
}

.main-image{
    height: 40%;
    margin: 20px 0px;
    position: relative; /*Serve all'overlay per posizionarsi correttamente tramite absolute */
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}

/* Contenitore del titolo e del paragrafo dell'immagine principale */
.main-text{
    position: absolute;
    bottom: 60px;
    left: 50px;
}

.main-text h2, .main-text p{
    width: 60%;
    color: white;
}

.Title-image{
    font-size: 28px;
    font-weight: 400;
}

.float-container{  
    height: 65%;
}

.title-container{
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
}

.float-container .title-container h1{
    margin-top: 30px;
    font-size: 38px;
}

.float-container .title-container p{
    color: grey;
}


.image-container{
    height: 300px;
    position: relative;
}


.descriptions h4{
    margin-top: 20px;
    font-weight: 400;
}
.descriptions p{
    margin-top: 10px;
    color: grey;
}


.sidebar-left, .sidebar-right{
    width: 25%;
    height: 80%;
    
}

.sidebar-right{
    float: right;
}

.sidebar-left{
    float: left;
}

.content{
    width: 45%;
    height: 80%;
    float: left;
    margin-left: 25px;
}

.clearfix{
    clear: both;
}

footer{
    width: 100%;
    background-color: #8601fe;
    height: 80px;
    margin-top: 10px;
}

.descriptions:after{
    display: table;
    content: "";
    clear: both;
}

